@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "UTM Seagull";
  src: url("./assets/fonts/utm-seagullbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "UVN Van";
  src: url("./assets/fonts/uvnvan_b.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-seagull: "UTM Seagull", sans-serif;
  --font-uvnvan: "UVN Van", sans-serif;
  --font-trust-san: "Momo Trust Sans", sans-serif;
  --color-primary: #9d0b0f;
  --color-section: #8b0304;
  --color-secondary: #faa519;
  --color-text-primary: #5e4027;
  --color-text-brown: ##917359;
}

@layer base {
  html {
    @apply font-trust-san;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoomIn {
  animation: zoomIn 0.25s ease-out;
}

/* Thanh cuộn đẹp cho form Đăng ký */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #800a0d;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: none;
}

body {
  background:
    url(https://honglam.vn/_next/static/media/bg-footer-optimized.6b456453.jpg)
      bottom no-repeat,
    url(https://honglam.vn/_next/static/media/bg-body-5.41b92e69.png) right 80%
      no-repeat,
    url(https://honglam.vn/_next/static/media/bg-body-4.1f9bdefd.png) left 60%
      no-repeat,
    url(https://honglam.vn/_next/static/media/bg-body-3.e2cb3b1c.png) right 40%
      no-repeat,
    url(https://honglam.vn/_next/static/media/bg-body-2.f61c9139.png) left 20%
      no-repeat,
    url(https://honglam.vn/_next/static/media/bg-body-1.418a9985.png) right 10%
      no-repeat,
    url(https://honglam.vn/_next/static/media/bg-header-2.489b84a6.jpg) top
      no-repeat,
    url(https://honglam.vn/_next/static/media/bg-body.9bfd1cb8.png);
  background-color: #fdfaf5;
  min-height: 100vh;
}
